<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="member.Mapper">
	
	
	<select id="login" resultType="MemberDTO">
	   select * from tbl_member where userid=#{userid} and userpw=#{userpw}
	</select>
	
	
<!--	# AES_DECRYPT 복호화
 SELECT AES_DECRYPT(UNHEX(필드명), '가나다라') FROM tbname;  -->
	<select id="loginPasswd" resultType="string">
	   select AES_DECRYPT(UNHEX(userpw), 'java$$##1') from tbl_member where userid=#{userid} 
	</select>
	
	
	
</mapper>














